## Basics: Data Types & Loops

In [7]:
print("This is my first program")

This is my first program

In [3]:
This is my first program

SyntaxError: invalid syntax (<ipython-input-3-17edc522fae6>, line 1)

##### Comments:

In [15]:
#This is my first program

##### Multline comments:

In [9]:
"""rwe
rwer
werwe
rwerw
werrrwer"""

'rwe\nrwer\nwerwe\nrwerw\nwerrrwer'

In [11]:
#print("This is my first program")
print("This is my fir program")
#print("This is my rst program")

This is my fir program

### Variables:

In [13]:
a=10

In [14]:
a

10

In [15]:
type(a)

int

In [20]:
b="sudh"

In [21]:
b

'sudh'

In [19]:
type(b)

str

In [22]:
print(a,b)

10 sudh

In [23]:
a=45
b='sds'

In [25]:
a,b =34,'ffg'

In [26]:
a

34

In [27]:
b

'ffg'

In [32]:
a,b

(34, 'ffg')

In [33]:
v=1.55

In [34]:
type(v)

float

In [35]:
b=True
c=False

In [36]:
type(b)

bool

In [42]:
i =True + True + True + False
m = False + True + True
n = False - True + True + True

In [43]:
print(i,m,n)

3 2 1

In [44]:
True/False

ZeroDivisionError: division by zero

In [45]:
f=156+54j

In [47]:
type(f)

complex

In [49]:
f.real

156.0

In [50]:
f.imag

54.0

In [51]:
f

(156+54j)

In [52]:
1+'fsfs'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
str(1)+'csd'

'1csd'

### Strong typing:

In [56]:
'1'+'safsd'

'1safsd'

In [59]:
1+1.25 #upcasting

2.25

In [61]:
"dfsff" *4

'dfsffdfsffdfsffdfsff'

In [63]:
a=input()

15

In [72]:
a

1

In [66]:
type(a)

str

In [67]:
a=int(input())
b=int(input())
c=int(input())

1
5
2

In [71]:
o=(a+b)/c
o1=o+(34+6j)
str(o1)+'krish'

'(37+6j)krish'

### Decision Making Statement:

### if-else:

In [1]:
a=int(input("no. < 25: "))

no. < 25: 26

In [5]:
a=int(input("no. < 25: "))
if a<25:
    print("ok")

no. < 25: 56

In [6]:
a=int(input("no. < 25: "))
if a<25:
    print("ok")

no. < 25: 22
ok

In [8]:
a=int(input())
if a<25:
    print("ok")
else:
    print("no it is > 25")

no. < 25: 26
no it is > 25

In [11]:
sal= int(input("enter the salary: "))
if sal <1000000:
    print("will buy a car")
elif sal < 250000:
    print("will buy a bike")
else:
    print("go for savings")

enter the salary: 50
will buy a car

In [12]:
sal= int(input("enter the salary: "))
if sal > 1000000:
    print("will buy a car")
elif sal > 250000:
    print("will buy a bike")
else:
    print("go for savings")

enter the salary: 100
go for savings

In [17]:
sal= int(input("enter the salary: "))
if sal > 1000:
    print("will buy a car")
    if sal >5000:
        print("go for MG Hector car")
elif sal > 2500:
    print("will buy a bike")
else:
    print("go for savings")

enter the salary: 4000
will buy a car

In [18]:
sal= int(input("enter the salary: "))
if sal > 1000:
    print("will buy a car")
    if sal >2000:
        print("go for MG Hector car")
elif sal > 2500:
    print("will buy a bike")
else:
    print("go for savings")

enter the salary: 4000
will buy a car
go for MG Hector car

In [19]:
sal= int(input("enter the salary: "))
if sal > 1000:
    print("will buy a car")
    if sal >2000:
        print("go for MG Hector car")
        if True:
            print("Perfect")
elif sal > 2500:
    print("will buy a bike")
else:
    print("go for savings")

enter the salary: 4000
will buy a car
go for MG Hector car
Perfect

In [2]:
a=10
b=20
if a==10 and b==20:
    print("Its perfect")

Its perfect

In [3]:
a==10 and b==20

True

In [4]:
a==0 and b==20

False

In [8]:
a=10
b=20
if a==10 and b>20:
    print("Its perfect")
else:
    print("condition failed")

condition failed

In [9]:
a=10
b=20
if a==10 and b>20:
    print("Its perfect")
elif a==10 and b<=20:
    print("valid condition between 10 and 20")
else:
    print("condition failed")

valid condition between 10 and 20

In [10]:
a=10
b=20
if a==10 or b>20:
    print("Its perfect")
elif a==10 and b<=20:
    print("valid condition between 10 and 20")
else:
    print("condition failed")

Its perfect

In [11]:
a=10
b=20
if a==1 or b>20:
    print("Its perfect")
elif a==10 or b<=20:
    print("valid condition between 10 and 20")
else:
    print("condition failed")

valid condition between 10 and 20

In [12]:
a=10
b=20
if a==1 or b>20:
    print("Its perfect")
elif a==0 or b<20:
    print("valid condition between 10 and 20")
else:
    print("condition failed")

condition failed

In [14]:
Fname=input()
Lname=input()
if Fname =='ABC':
    print("Yes this Fname matches with the user having Lname: ", Lname)
if Fname =='MNO' and Lname=='XYZ':
    print("Yes, this user exists in our database")

ABC
CMO
Yes this Fname matches with the user having Lname:  CMO

In [15]:
Fname=input()
Lname=input()
if Fname =='ABC':
    print("Yes this Fname matches with the user having Lname: ", Lname)
if Fname =='MNO' and Lname=='XYZ':
    print("Yes, this user exists in our database")

MNO
XYZ
Yes, this user exists in our database

### While Loop

In [26]:
initial_speed=0
final_speed=3
count=1
while initial_speed<final_speed:
    print("Speed")
    count=count+1
    if count==5: 
        break

Speed
Speed
Speed
Speed

In [28]:
initial_speed=0
final_speed=5
while initial_speed<final_speed:
    print(initial_speed)
    initial_speed=initial_speed+1

0
1
2
3
4

### while-else:

when 'while' statement is false/terminated, the 'else statement will be executed

In [4]:
note=5
i=1
while i<5:
    print(i)
    i+=1
else:   #when 'while' statement is false, the 'else statement will be executed
    print(f"only {i-1} values are printed")

1
2
3
4
only 4 values are printed

In [9]:
note=5
i=1
while i<5:
    print(i)
    i+=1
else:  
    while i<7:
        print(i)
        i+=1
    print(f"only {i-1} values are printed")

1
2
3
4
5
6
only 6 values are printed

### Strings:

In [10]:
x="krish"

In [11]:
x

'krish'

In [12]:
x[0]

'k'

In [13]:
x[3]

's'

In [14]:
x[25]

IndexError: string index out of range

In [15]:
c="my name is krish" #string always stores the data in the form of index

In [16]:
c

'my name is krish'

In [17]:
c[3:]

'name is krish'

In [19]:
c[3:7]

'name'

In [23]:
c[3:10:1] #start:(end-1):stepsize

'name is'

In [31]:
c[3:10:2] #start:end:stepsize

'nm s'

In [33]:
c[10:3:1]

''

In [29]:
c[10:3:-1] #start:end:stepsize

' si ema'

In [34]:
c[10:2:-1] #during the reversal: when step size is -ve, start:(end+1):stepsize

' si eman'

In [35]:
c[10:2:-2]

' iea'

In [36]:
c[::-1]

'hsirk si eman ym'

In [45]:
c[2:-6]

' name is'

In [24]:
#  0123456789
c="nameiskrish" 
#    987654321(-)
print("1",c[0:5])
print("2",c[0:5:1])
print("3",c[0:5:-1])
print("4",c[5:0])
print("5",c[5:0:-1])
print("6",c[-1:5])
print("7",c[-1:5:-1]) #starts from -1 and ends 'before 5th element from the right side'.
print(" ",c[-1:3:-1])
print("8",c[-1:-5:1])
print("9",c[-1:-5:-1])

1 namei
2 namei
3
4
5 siema
6
7 hsirk
  hsirksi
8
9 hsir

In [38]:
print(c[0:5])
x="check"

In [39]:
x[-1]

'k'

In [50]:
x[4]

'k'

In [49]:
x="check"

In [53]:
x[0:4]

'chec'

In [52]:
x[0:-1]

'chec'

In [2]:
c="my name is krish"

In [57]:
for i in c:
    print(i)

m
y

n
a
m
e

i
s

k
r
i
s
h

In [4]:
for i in c:
    if (i == 'r'):
        print("found 'r'")
    print(i)

m
y

n
a
m
e

i
s

k
found 'r'
r
i
s
h

### for-else:

when 'for' statement is terminated, the 'else statement will be executed

***when 'for' statement is broken, the 'else statement will not be executed

In [6]:
for i in c:
    print(i)
else:
    if (i=='h'):
        print("the last char is 'h'")
    print("for looop terminated and else statement is executed")

m
y

n
a
m
e

i
s

k
r
i
s
h
the last char is 'h'
for looop terminated and else statement is executed

In [7]:
for i in c:
    if i == 'n':
        break #breaks the for loop
    print(i)
else:
    if (i=='h'):
        print("the last char is 'h'")
    print("for looop terminated and else statement is executed")

m
y

In [8]:
for i in c:
    if i == 'n':
        continue #goes to the for loop again
    print(i)
else:
    if (i=='h'):
        print("the last char is 'h'")
    print("for looop terminated and else statement is executed")

m
y

a
m
e

i
s

k
r
i
s
h
the last char is 'h'
for looop terminated and else statement is executed

In [12]:
x="ineuron"
ss=''
for i in range(len(x)):
    if x[i]=='n':
        continue
    else:
        ss=ss+x[i]

In [13]:
ss

'ieuro'

##### \r omits the chars before it or \r will just work as you have shifted your cursor to the beginning of the string or line.

In [42]:
print('cha\rndu')
#\r omits the chars before it or \r will just work as you have shifted your cursor to the beginning of the string or line.

ndu

### Patterns:

In [24]:
for j in range(0,2):
    print('+')

+
+

In [14]:
for j in range(0,2):
    print('+',end='') # https://www.geeksforgeeks.org/gfact-50-python-end-parameter-in-print/

++

In [45]:
n=3 # number of rows
for i in range(0,3):
    for j in range(0,i+1): # number of columns
        print('+',end=' ') # https://www.geeksforgeeks.org/gfact-50-python-end-parameter-in-print/

+ + + + + +

In [36]:
n=3 # number of rows
for i in range(0,3):
    for j in range(0,i+1): # number of columns
        print('+',end=' ') # https://www.geeksforgeeks.org/gfact-50-python-end-parameter-in-print/
    print('\r') #\r will just work as you have shifted your cursor to the beginning of the string or line.

+
+ +
+ + +

In [37]:
n=3
for i in range(0,3):
    for j in range(0,i+1):
        print('+',end=' ') # https://www.geeksforgeeks.org/gfact-50-python-end-parameter-in-print/
    print() #print by default creates a new line

+
+ +
+ + +

In [1]:
n = 3
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='')
    for j in range(2*i-1):
        print('*',end='') 
    print()

*****
 ***
  *

In [1]:
n =3 

for i in range(n,0,-1):
    for j in range(n-i):
        print('s', end='') #printing 's' wherever space is required
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

*****
s***
ss*

### Task:

In [38]:
n = 3
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end='') 
    
    for j in range(2*i-1):
        print('*',end='') 
    print()

*****
 ***
  *

In [6]:
n=5
for i in range(n, 0, -1):
    for j in range(n-i):
        print(end=" ")
    for j in range(0, i):
        print("*", end=" ")
    print("")

* * * * *
 * * * *
  * * *
   * *
    *

In [2]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end='')
    for j in range(0,i+1): 
        print('*',end=' ') 
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [7]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
        print("s",end=' ')
    for j in range(0,2*i-1): 
        print('*',end=' ') 
    print()

s s s s
s s s *
s s * * *
s * * * * *
* * * * * * *

In [6]:
print(range(0,2*0-1))
print(list(range(0,2*0-1)))

range(0, -1)
[]

In [8]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end=' ')
    for j in range(0,2*i-1): 
        print('*',end=' ') 
    print()

      *
    * * *
  * * * * *
* * * * * * *

In [30]:
n=5
i=0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

    *
   * *
  * * *
 * * * *
* * * * *

In [13]:
n=5
i=0
while i < n :
    print(' '*(n-i-1) + '*'*(2*i-1))
    i +=1

   *
  ***
 *****
*******

### list:

In [7]:
#list stores the data in the form of index
name="krish"
ph=5648987
add='AP'

In [8]:
lst=['krish',7879879,'AP']

In [9]:
lst

['krish', 7879879, 'AP']

In [10]:
lst[0]

'krish'

In [11]:
lst[2]

'AP'

In [12]:
type(lst)

list

In [24]:
lst1=["krish", 5466, "sfsz", True, 45+5j, [5,1,9,'fsd'],5.26]

In [6]:
lst1[0]

'krish'

In [8]:
lst1[0:5]

['krish', 5466, 'sfsz', True, (45+5j)]

In [9]:
lst1[8:1]

[]

In [13]:
lst1[5:1:-1]

[[5, 1, 9, 'fsd'], (45+5j), True, 'sfsz']

In [16]:
len(lst1)

7

In [7]:
for i in lst1:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [25]:
for i in lst1:
    if type(i)==list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [5]:
lst1=["krish", 5466, "sfsz", True, 45+5j, [5,1,9,'fsd'],5.26]
for i in lst1:
    if type(i)==list:
        n=0
        for j in i:
            if type(j)==int:
                n=n+j
        print(n)

15

In [15]:
range(10)

range(0, 10)

In [14]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### String Manipulation:

In [25]:
c="mvwkv"

In [26]:
v='vsdv'

In [27]:
c

'mvwkv'

In [28]:
v

'vsdv'

In [32]:
b='this is my 1st course for full stack data science thats why i had joined this class'

In [33]:
b

'this is my 1st course for full stack data science thats why i had joined this class'

In [34]:
b='this is my 1st course for full stack data science that's why i had joined this class'

SyntaxError: invalid syntax (<ipython-input-34-d11fe752cc18>, line 1)

In [35]:
b="this is my 1st course for full stack data science that's why i had joined this class"

In [36]:
b

"this is my 1st course for full stack data science that's why i had joined this class"

In [37]:
b='this is my 1st course for full stack data science that\'s why i had joined this class'

In [38]:
b

"this is my 1st course for full stack data science that's why i had joined this class"

In [50]:
s='this is my 1st course for full stack data science'

In [47]:
s[-1]

'e'

In [48]:
s[100]

IndexError: string index out of range

In [51]:
len(s)

49

In [52]:
s[4:15]

' is my 1st '

In [56]:
s.index('1')

11

In [57]:
s[-1:-10]

''

In [58]:
s[-1:-10:-1]

'ecneics a'

In [64]:
s1="perfect class"

In [65]:
for i in s1:
    print(i)

p
e
r
f
e
c
t

c
l
a
s
s

In [66]:
for i in range(len(s1)):
    print(s1[i])

p
e
r
f
e
c
t

c
l
a
s
s

In [75]:
s1[::-1]

'ssalc tcefrep'

In [76]:
s1[::-2]

'sacterp'

In [69]:
s1

'perfect class'

##### String is Immutable object: It doesn't allow item assignment

In [70]:
s1[0]='a'

TypeError: 'str' object does not support item assignment

##### List is Mutable: It allow item assignment --- I can replace data

In [71]:
lst2=['csdc',5664,122.335,True]

In [72]:
lst2[2]

122.335

In [73]:
lst2[2]='check'

In [74]:
lst2

['csdc', 5664, 'check', True]

### String Concatination:

In [77]:
"krish"+"Scientist"

'krishScientist'

In [78]:
"krish"+3

TypeError: can only concatenate str (not "int") to str

In [79]:
'krish'+'3'

'krish3'

In [81]:
'krish'+str(3)

'krish3'

In [82]:
"krish"*2

'krishkrish'

### String In-Built Methods:

In [1]:
s='my name is krish'

In [89]:
s.find("m")

0

In [90]:
s.find("k")

11

In [91]:
s.find("z") #Returns -1 if the substring is not available --- As Z is not availabe it returns -1

-1

In [11]:
s='my name is krish and name of studying org is iNeuron'

In [5]:
s.find("name")

3

In [6]:
#finding the location of 'name'
b=s.find("name")
for i in range(len('name')):
    print(b+i)

3
4
5
6

In [4]:
s='my name is krish'
for i in range(len('name')):
            print(s.find('n')+i)

3
4
5
6

In [5]:
#finding the location of 'name'
s='my name is krish'
b=s.find("name")
for i in range(len('name')):
    print(b+i)

3
4
5
6

###### finding the location of 2nd name:

In [9]:
s='my name is krish and name of studying org id iNeuron'
b=s.find("name") #b=3
a=b+len("name") #a=7
s.find("name",a) #S.find(sub[, start[, end]])

21

In [9]:
s='my name is krish and name of studying org id iNeuron'
a=s.split()
print(a)
for i in range(len(a)):
    if a[i]=='name':
        if i>1:
            print(i)

['my', 'name', 'is', 'krish', 'and', 'name', 'of', 'studying', 'org', 'id', 'iNeuron']
5

In [4]:
s='my name is krish'
for i in range(len(s)):
    if s[i] =='m':
        print(f"The location of 'm' is: {i}")

The location of 'm' is: 0
The location of 'm' is: 5

In [13]:
s.count('m')

3

In [12]:
s.count("name")

2

In [26]:
s='my name is krish, Name of studying org is iNeuron' #case sensitive: name and Name are different

In [19]:
s.count("name")

1

In [20]:
s.split()

['my',
 'name',
 'is',
 'krish',
 'and',
 'Name',
 'of',
 'studying',
 'org',
 'id',
 'iNeuron']

In [24]:
s.split(",")

['my name is krish', ' Name of studying org id iNeuron']

In [25]:
s.split('na')

['my ', 'ame is krish, Name of studyi', 'g org id iNeuro', '']

In [27]:
s.split('na')

['my ', 'me is krish, Name of studying org is iNeuron']

In [28]:
type(s.split('na'))

list

In [29]:
s.upper()

'MY NAME IS KRISH, NAME OF STUDYING ORG IS INEURON'

In [30]:
s.lower()

'my name is krish, name of studying org is ineuron'

In [31]:
s.swapcase()

'MY NAME IS KRISH, nAME OF STUDYING ORG IS InEURON'

In [35]:
"*".join(s)

'm*y* *n*a*m*e* *i*s* *k*r*i*s*h*,* *N*a*m*e* *o*f* *s*t*u*d*y*i*n*g* *o*r*g* *i*s* *i*N*e*u*r*o*n'

In [1]:
s='krish iNeuron'

In [43]:
s[::-1]

'norueNi hsirk'

In [2]:
reversed(s)

In [3]:
list(reversed(s))

['n', 'o', 'r', 'u', 'e', 'N', 'i', ' ', 'h', 's', 'i', 'r', 'k']

In [4]:
for i in reversed(s):
    print(i,end='')

norueNi hsirk

In [11]:
s='    krish iNeuron  '

In [10]:
s.strip()

'krish iNeuron'

In [11]:
s.lstrip()

'krish iNeuron  '

In [13]:
s.rstrip()

'    krish iNeuron'

In [13]:
s = "greetings from krish"

In [14]:
s.replace("g", "5")

'5reetin5s frrom krish'

In [15]:
s.replace("g", "578")

'578reetin578s frrom krish'

In [16]:
s.replace("gr", "59")

'59eetings frrom krish'

In [14]:
#even after this replacements, the original string remains same as it it immutable 
#(explained in class on 3.07.2021 at 01:10:00mins)
s

'    krish iNeuron  '

In [18]:
s=s.replace("gr", "59") 
#here the string got replaced but here it is moved to a new location --This is not mutability concept.
#If We are able to change the value in the same location then it is called as mutable object.

In [19]:
s

'59eetings frrom krish'

In [22]:
s[2]

'e'

In [23]:
s[2]='f'
#here we are trying to change the char in the same location, which is not allowed. Hence, string is immutable object.

TypeError: 'str' object does not support item assignment

In [26]:
s1 = "krish"

In [32]:
s1.center(19,'*')

'*******krish*******'

In [33]:
len(s1.center(19,'*'))

19

In [35]:
s1.center(19,'*#')

TypeError: The fill character must be exactly one character long

In [36]:
s2="krish\tstudent"

In [37]:
s2

'krish\tstudent'

In [38]:
s2.expandtabs()

'krish   student'

In [40]:
s2="krish\tis\ta\tstudent"

In [41]:
s2.expandtabs()

'krish   is      a       student'

In [70]:
a="we all are part of Full stack"
#normalize the entire string in lower case
print(a.lower())
#number of occurences of 'a'
print(a.count('a'))
#location/index where 'a' is present in the string
lst=[]
for i in range(len(a)):
    if a[i] =='a':
        lst.append(i)
print(f"The locations of 'a' is: {lst}")
#replacing all 'a' with 'iNeuron'
print(a.replace('a','iNeuron'))
#print all words as a list
print(a.split())

we all are part of full stack
4
The locations of 'a' is: [3, 7, 12, 26]
we iNeuronll iNeuronre piNeuronrt of Full stiNeuronck
['we', 'all', 'are', 'part', 'of', 'Full', 'stack']

In [71]:
a = "We are all part of Full Stack"

# 1. Normalizing entire string in lower case
print(a.lower())
# 2. Finding number of occurances of a in entire string
print(len([i for i in range(len(a)) if a[i] == 'a']))
# 3. Indexes where a is present 
print([i for i in range(len(a)) if a[i] == 'a'])  
# 4 . replace all a's with ineuron
print(a.replace('a','Ineuron'))
#5. print all the words as a list
print([i for i in a.split() ])

we are all part of full stack
4
[3, 7, 12, 26]
We Ineuronre Ineuronll pIneuronrt of Full StIneuronck
['We', 'are', 'all', 'part', 'of', 'Full', 'Stack']

In [72]:
a.isupper()

False

In [73]:
s="KRISH"

In [75]:
s.isupper()

True

In [82]:
s="krish"

In [83]:
s.islower()

True

In [78]:
s="krish"

In [81]:
s.islower()

False

In [84]:
s.isspace()

False

In [86]:
s1="  krish"

In [87]:
s1.isspace()

False

In [88]:
s1=" "
s1.isspace()

True

In [89]:
s1.isdigit()

False

In [92]:
s2='654'
s2.isdigit()

True

In [93]:
s2="krish"
s2.endswith('h')

True

In [94]:
s2="krish"
s2.startswith('h')

False

In [95]:
s2="krish"
s2.isalnum()

True

In [97]:
s2='454'
s2.isalpha()

False

In [99]:
s2="krish"
s2.istitle()

False

In [101]:
s2="KRISH"
s2.istitle()

False

In [100]:
s2="Krish"
s2.istitle()

True

In [9]:
s2='krish'
'i' in s2

True

In [102]:
s="this is full stack batch"
for i in s:   #iterating in the string
    print(i, end='')

this is full stack batch

In [112]:
for i in range(len(s)): #iterating by the index of string
    print(s[i],end='')

this is full stack batch

In [103]:
len(s)

24

In [106]:
count=0
s="this is full stack batch"
for i in s:
    count=count+1
print(count)

24

###### string reversing with for/while loop:

In [117]:
s="this is full stack batch"
for i in range(1,len(s)): #iterating by the index of string
    print(s[-i],end='') #reversing

hctab kcats lluf si sih

In [3]:
s="krish"
ch=len(s)-1
while ch>=0: #reversal
    print(s[ch], end='')
    ch=ch-1

hsirk

In [6]:
name='ineuron'
vowels='AqEeIiooUu'
for i in name:
    if i in vowels:
        print(f'{i} is a vowel')
    else:
        print(f'{i} is not a vowel')

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

### format()

In [12]:
"{} name is krish".format("my")

'my name is krish'

In [1]:
name='ineuron'
vowels='AqEeIiooUu'
for i in name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [2]:
"{} name {} krish".format("my",'is')

'my name is krish'

In [1]:
"{} name {} krish".format('is',"my")

'is name my krish'

In [2]:
"{a} name {b} krish".format(b='is',a="my")

'my name is krish'

In [5]:
a=input()
b=input()
"{} name {} krish".format(a,b)

my
is

'my name is krish'

###### palindrome check

In [9]:
str=input("Enter data to check whether it is palindrome: ")
if list(reversed(str)) == list(str):
    print("it is palindrome")

Enter data to check whether it is palindrome: amma
it is palindrome

In [14]:
s=input("Enter data to check whether it is palindrome: ")
s1=s[::-1]
if s == s1:
    print("it is palindrome")
else:
    print("not palindrome")

Enter data to check whether it is palindrome: amma
it is palindrome

### list manipulations:

In [1]:
l=['sdsdf',6546,445.225]

In [3]:
l[2]

445.225

In [5]:
l[0:]

['sdsdf', 6546, 445.225]

In [6]:
l[::-1]

[445.225, 6546, 'sdsdf']

### list in-built methods:

In [7]:
l=['sdsdf',6546,445.225]

In [8]:
s="dcvsd"

In [9]:
l+s

TypeError: can only concatenate list (not "str") to list

In [14]:
s="dcvsd"
s=list(s)
s

['d', 'c', 'v', 's', 'd']

In [12]:
l+s

['sdsdf', 6546, 445.225, 'd', 'c', 'v', 's', 'd']

In [17]:
a=["dcvsd"]

In [16]:
l+a

['sdsdf', 6546, 445.225, 'dcvsd']

In [18]:
l*2

['sdsdf', 6546, 445.225, 'sdsdf', 6546, 445.225]

In [19]:
len(l)

3

In [7]:
l1=['krish',6546,445.225,['ve',45,2.15]]

In [22]:
'krish' in l1

True

In [23]:
56 in l1

False

In [2]:
l1=['krish',6546,445.225]

In [4]:
for i in l1:
    print(i)

krish
6546
445.225

In [6]:
l1[2]

445.225

In [9]:
l1=['krish',6546,445.225,['ve',45,2.15]]
for i in l1:
    if type(i)==list:
        print(i)

['ve', 45, 2.15]

In [10]:
l1

['krish', 6546, 445.225, ['ve', 45, 2.15]]

In [11]:
l2=[213,'tech']

In [12]:
l1+l2

['krish', 6546, 445.225, ['ve', 45, 2.15], 213, 'tech']

In [13]:
l2*2

[213, 'tech', 213, 'tech']

In [14]:
len(l2)

2

In [16]:
'krish' in l1

True

In [17]:
max(l1)

TypeError: '>' not supported between instances of 'int' and 'str'

In [27]:
l3=[12,51,789,1000,0,-1]

In [19]:
max(l3)

1000

In [24]:
max("a",'b','cat','z')

'z'

In [25]:
min("a",'b','cat','z')

'a'

In [28]:
min(l3)

-1

In [31]:
min("fab",'fc','fa','z')

'fa'

In [32]:
lt=[1,2,3,4]

In [34]:
lt.append("krish")

In [35]:
lt

[1, 2, 3, 4, 'krish']

In [36]:
lt.append(["krish",1245,56+4j])

In [37]:
lt

[1, 2, 3, 4, 'krish', ['krish', 1245, (56+4j)]]

In [39]:
lt+"ineuron"

TypeError: can only concatenate list (not "str") to list

In [40]:
lt.append("inueron")

In [41]:
lt

[1, 2, 3, 4, 'krish', ['krish', 1245, (56+4j)], 'inueron']

In [42]:
l=[1,2,3,4,5]

In [43]:
l.insert(0,6)

In [44]:
l

[6, 1, 2, 3, 4, 5]

In [49]:
l.insert(2,-5) #Inserts object at the index. 
#--- Inserts the object at the desired index and shifts all the elements to right

In [46]:
l

[6, 1, -5, 2, 3, 4, 5]

In [47]:
l.insert(-1,"test")

In [71]:
l

[1, 2, 3, 4, 5, 'krissh']

In [73]:
l

[1, 2, 3, 4, 5, 'krissh', 45]

In [51]:
l.count(5)

1

In [74]:
l=[1,2,3,4,5]

In [75]:
l.append('krissh') #append

In [76]:
l.append(45)

In [84]:
l.append([12,45,56])

In [85]:
l

[1, 2, 3, 4, 5, 'krissh', 45, [1, 2, 45], 't', 'e', 's', 't', [12, 45, 56]]

In [2]:
l1=[1,2,3,4,5]
l1.extend("test") #extend

In [97]:
l1

[1, 2, 3, 4, 5, 't', 'e', 's', 't']

In [3]:
l1.extend(45)

TypeError: 'int' object is not iterable

In [4]:
l1.extend([45,12,2])

In [5]:
l1

[1, 2, 3, 4, 5, 't', 'e', 's', 't', 45, 12, 2]

In [6]:
s='test'
list(s)

['t', 'e', 's', 't']

In [7]:
l1

[1, 2, 3, 4, 5, 't', 'e', 's', 't', 45, 12, 2]

In [8]:
l1.index(2)

1

In [9]:
l1.pop() #bydefault removes the last element

2

In [107]:
l1

[1, 2, 3, 4, 5, 't', 'e', 's', 't', 45]

In [10]:
l1.pop(0) #removes data based on the index

1

In [11]:
l1

[2, 3, 4, 5, 't', 'e', 's', 't', 45, 12]

In [19]:
l2=[1,2,5,5,5,7,8,9]

In [20]:
l2.remove(5) #removes data based on the element

In [21]:
l2

[1, 2, 5, 5, 7, 8, 9]

In [22]:
l2.remove(5)

In [23]:
l2

[1, 2, 5, 7, 8, 9]

In [24]:
l2.reverse()

In [25]:
l2

[9, 8, 7, 5, 2, 1]

In [26]:
l2.sort()

In [27]:
l2

[1, 2, 5, 7, 8, 9]

In [28]:
l3=[46,456,'dnf']

In [29]:
l3.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [32]:
l2=[1,2,5,5,5,7,8,9,5.23,0.23]

In [34]:
l2.sort()
l2

[0.23, 1, 2, 5, 5, 5, 5.23, 7, 8, 9]

### Task:

In [2]:
l=[1,2,5,5,5,5,5,6]
print(f'index of 5 is: {l.index(5)}') #it only gives thee index of first 5.
#Even if we use the for loop to get the index of all 5s present in the list, the output will always be the index of first 5
for i in l:
    print(l.index(i))

index of 5 is: 2
0
1
2
2
2
2
2
7

In [12]:
#if your nested list contains of string then findout its index in the nested list, print it 
z=[[1,'tyu'],['klo',0,'hjk',47,'hjk'],'check',[12.26,15+8j,45,'sdr']]
for i in z:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                    print(f'index of {j} is: {i.index(j)}') #here index(hjk)=2 always   ----> This Solution is wrong

index of tyu is: 1
index of klo is: 0
index of hjk is: 2
index of hjk is: 2
index of sdr is: 3

In [1]:
#if your nested list contains of string then findout its index in the nested list , print it
z=[[1,'tyu'],['klo',0,'hjk',47,'hjk'],'check',[12.26,15+8j,45,'sdr']]
for i in z:
    if type(i)==list:
        for j in range(len(i)):
            if type(i[j])==str:
                    print(f'index of {i[j]} is: {j}')

index of tyu is: 1
index of klo is: 0
index of hjk is: 2
index of hjk is: 4
index of sdr is: 3

In [5]:
#if your nested list contains of string then remove it
z=['klo',0,'hjk',47,'hjk']
lst=[]
for i in range(len(z)):
    if type(z[i])==str:
        z.pop(i)
print(f"List after removal of string from nested list is: {z}") #----> This Solution is wrong

IndexError: list index out of range

In [16]:
x=['a','b','c','d','e']
for i in range(len(x)):
    print(f'i: {x[i]}')
    x.remove(x[i])
    print(f'after removal: {x}')
'''after removal, the "element in position 2 will be shifted to position 1" and "element in  position 1
will be shifted to position 0"'''
#now, after 1st iteration i will be 1 and i=the element in index 1
#here the range wont reduce even if any element is removed hence after removal of elements also the range will be len(x)
"""here after 3rd iteration(i=2), i will be i=3 and trying to print x[i] but there is no 3rd element.
Only 2 elemnts are there 
hence it is throwing index error because in this iteration the max index of list is 1 and
we are trying to acess the 3rd element """
#----> This Solution is wrong

i: a
after removal: ['b', 'c', 'd', 'e']
i: c
after removal: ['b', 'd', 'e']
i: e
after removal: ['b', 'd']

IndexError: list index out of range

In [17]:
x=['a','b','c','d','e']
for i in x:
    print(i)
    x.remove(i)
    print(f'after removal: {x}')
#here we wont get error because we are not itertaing based on range, we are iterating based on the elements of list

a
after removal: ['b', 'c', 'd', 'e']
c
after removal: ['b', 'd', 'e']
e
after removal: ['b', 'd']

In [20]:
#if your nested list contains of string remove it
z=[[1,'tyu'],['klo',0,'hjk',47,'hjk'],'check',[12.26,15+8j,45,'sdr']]
for a in z:
    if type(a)==list:
        lst=[]
        for j in (a):
            if type(j)==str:
                lst.append(j)
                print(lst)
        for i in lst:
            a.remove(i)
print(f'list after removing the strings: {z}')

['tyu']
['klo']
['klo', 'hjk']
['klo', 'hjk', 'hjk']
['sdr']
list after removing the strings: [[1], [0, 47], 'check', [12.26, (15+8j), 45]]

In [2]:
#if your nested list contains of string remove it
z=[[1,'tyu'],['klo',0,'hjk',47,'hjk'],'check',[12.26,15+8j,45,'sdr']]
for a in z:
    if type(a)==list:
        for j in a:
            if type(j)==str:
                a.remove(j)
print(f'list after removing the strings: {z}')

list after removing the strings: [[1], [0, 47], 'check', [12.26, (15+8j), 45]]

##### Task with for loop:

In [21]:
#add 2 lists and complex number in between of the lists
z=[[1,'tyu'],['klo',0,'hjk',47,'hjk'],'check',[12.26,15+8j,45,'sdr']]
z.insert(1,[2,8])
z.insert(2,[1,22])
print(f'z: {z}')
z.insert(2,15+33j)
print(f'inserted complex no.: {z}')
#if your nested list contains of string then findout its index in the nested list , print it and remove it
for a in z:
    if type(a)==list:
        for j in range(len(a)):
            if type(a[j])==str:
                    print(f'index of {a[j]} is: {j}')
        for i in a:
            if type(i)==str:
                a.remove(i)
print(f"List after removal of string from nested list is: {z}")  
#extract 2nd element of each nested list
ls=[]
for i in z:
    if type(i)==list:
        for j in range(len(i)):
            if j==1:
                ls.append(i[j])
print(f'2nd element of each nested list: {ls}')

z: [[1, 'tyu'], [2, 8], [1, 22], ['klo', 0, 'hjk', 47, 'hjk'], 'check', [12.26, (15+8j), 45, 'sdr']]
inserted complex no.: [[1, 'tyu'], [2, 8], (15+33j), [1, 22], ['klo', 0, 'hjk', 47, 'hjk'], 'check', [12.26, (15+8j), 45, 'sdr']]
index of tyu is: 1
index of klo is: 0
index of hjk is: 2
index of hjk is: 4
index of sdr is: 3
List after removal of string from nested list is: [[1], [2, 8], (15+33j), [1, 22], [0, 47], 'check', [12.26, (15+8j), 45]]
2nd element of each nested list: [8, 22, 47, (15+8j)]

##### Task with while loop:

In [14]:
#add 2 lists and complex number in between of the lists
z=[[1,'tyu'],['klo',0,'hjk',47,'hjk'],'check',[12.26,15+8j,45,'sdr']]
z.insert(1,[2,8])
z.insert(2,[1,22])
print(z)
z.insert(2,15+33j)
print(f'inserted complex no.: {z}')
#if your nested list contains of string then findout its index in the nested list , print it and remove it
for i in z:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j])==str:
                print(f'index of {i[j]} is: {j}')
            j=j+1
        j=0
        while j<len(i):
            if type(i[j])==str:
                print(f'string in the nested list is: {i[j]}')
                i.remove(i[j]) 
                continue 
            j=j+1
'''for 'klo' j=0, as it is removed the index of '0' will be 0 now,
hence after removing the string, the loop should start again without incrementing 'j'. 
so after removing the string the 'continue' is written '''
'''after removing the string, the elements will be shifted to left hence the 'j' should not increment and
(continue) goes to starting of loop again'''
            
print(f"List after removal of string from nested list is: {z}")
#extract 2nd element of each nested list
ls=[]
for i in z:
    if type(i)==list:
        for j in range(len(i)):
            if j==1:
                ls.append(i[j])
print(f'2nd element of each nested list: {ls}')

[[1, 'tyu'], [2, 8], [1, 22], ['klo', 0, 'hjk', 47, 'hjk'], 'check', [12.26, (15+8j), 45, 'sdr']]
inserted complex no.: [[1, 'tyu'], [2, 8], (15+33j), [1, 22], ['klo', 0, 'hjk', 47, 'hjk'], 'check', [12.26, (15+8j), 45, 'sdr']]
index of tyu is: 1
string in the nested list is: tyu
index of klo is: 0
index of hjk is: 2
index of hjk is: 4
string in the nested list is: klo
string in the nested list is: hjk
string in the nested list is: hjk
index of sdr is: 3
string in the nested list is: sdr
List after removal of string from nested list is: [[1], [2, 8], (15+33j), [1, 22], [0, 47], 'check', [12.26, (15+8j), 45]]
2nd element of each nested list: [8, 22, 47, (15+8j)]

##### taking input from user and converting the inputs into list:

In [8]:
l=[]
for i in range(3):
    l.append(int(input()))
l

4
5
9

[4, 5, 9]

### list comprehension:

In [3]:
l=[1,2,3,6,4]

In [4]:
l1=[]

In [5]:
for i in 'krish':
    l1.append(i)

In [6]:
l1

['k', 'r', 'i', 's', 'h']

In [7]:
[i for i in 'krish']

['k', 'r', 'i', 's', 'h']

In [8]:
[[i] for i in 'krish']

[['k'], ['r'], ['i'], ['s'], ['h']]

In [12]:
l2=[]
for i in range(10):
    if i%2==0:
        l2.append(i)
l2

[0, 2, 4, 6, 8]

##### if in list comprehension

In [14]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [1]:
[i if i%2==0 for i in range(10)]

SyntaxError: invalid syntax (<ipython-input-1-67f1f52ac714>, line 1)

In [15]:
l3=[]
for i in range(10):
    if i %2!=0:
        l3.append('odd')
    else:
        l3.append('even')
l3

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

##### if-else in list comprehension

In [16]:
['odd' if i%2!=0 else 'even' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

##### nested for in list comprehension

In [2]:
mat=[]
for i in range(3):
    mat.append([])
mat

[[], [], []]

In [4]:
[[] for i in range(3)]

[[], [], []]

In [2]:
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [7]:
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [2]:
[i for i in range(8) if i%2==0]

[0, 2, 4, 6]

In [3]:
[i for i in range(8) if i%2==0 if i%3==0] #if i%2==0 and if i%3==0

[0, 6]

In [4]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### if-elif in list comprehension

In [6]:
l=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['yes' if i==1 else 'No' if i==2 else'test' for i in l] #if-elif

['test', 'yes', 'No', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [16]:
res=[]
for i in range(10):
    if i ==1:
        res.append('yes')
    elif i==2:
        res.append('No')
    else:
        res.append('test')
res

['test', 'yes', 'No', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

### %%time

In [15]:
%%time #to find out the run time
res=[]
for i in range(10):
    if i ==1:
        res.append('yes')
    elif i==2:
        res.append('No')
    else:
        res.append('test')
res

Wall time: 0 ns

['test', 'yes', 'No', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [17]:
a,b=1,1
for i in range(5):
    print(a)
    a=b #here a values is getting updated with the value of b
    b=a+b

1
1
2
4
8

In [18]:
a,b=1,1
for i in range(5):
    print(a)
    a,b=b,a+b  #here direct assignment is being done

1
1
2
3
5

### enumerate

In [28]:
for i in enumerate([1,2,3,4,5]):
    print(i) #this basically gives the index and the element

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [29]:
str="krish"
list(enumerate(str))

[(0, 'k'), (1, 'r'), (2, 'i'), (3, 's'), (4, 'h')]

### Tuples:

In [2]:
t=()

In [3]:
type(t)

tuple

In [5]:
l1=[18,'krish',8.56,True]

In [4]:
t1=(12,'krish',3.56,True)

In [7]:
t1[0]

12

In [8]:
t1[7]

IndexError: tuple index out of range

In [9]:
t1[0:2]

(12, 'krish')

In [10]:
t1[::-1]

(True, 3.56, 'krish', 12)

In [11]:
t1[-2]

3.56

In [13]:
l1=[18,'krish',8.56,True]
l1[0]

18

In [14]:
l1[0]="A"

In [15]:
l1 #list is mutable

['A', 'krish', 8.56, True]

In [16]:
t1=(12,'krish',3.56,True)

In [17]:
t1[1]

'krish'

In [18]:
t1[1]='A' #tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [21]:
t2=(13,45,72)

In [22]:
t1+t2

(12, 'krish', 3.56, True, 13, 45, 72)

In [23]:
t2*4

(13, 45, 72, 13, 45, 72, 13, 45, 72, 13, 45, 72)

In [24]:
13 in t2

True

In [26]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [25]:
max(t2)

72

In [35]:
t3=('a','b','e')
print(max(t3))
print(min(t3))

e
a

In [31]:
t3.index('a')

0

In [32]:
t3.index('x')

ValueError: tuple.index(x): x not in tuple

In [39]:
t4=(1,1,1,1,1,1)
t4.index(1)

0

In [34]:
t4.count(1)

6

In [36]:
t4.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [42]:
t5=(2)
t4+t5

TypeError: can only concatenate tuple (not "int") to tuple

In [43]:
t6=(2,5)
t4+t6

(1, 1, 1, 1, 1, 1, 2, 5)

In [54]:
#insert or append is not available in Tuples hence if we need to add any elements-Convert in to list, 
#append and convert to tuple back
t4=(1,1,1,1,1,1)
ls=list(t4)
ls

[1, 1, 1, 1, 1, 1]

In [51]:
t7=45

In [52]:
ls.insert(2,t7)
ls

[1, 1, 45, 1, 1, 1, 1]

In [53]:
tuple(ls)

(1, 1, 45, 1, 1, 1, 1)

In [7]:
t=((9,1,2,3,5,4,8),("tr",'tr','ut'),(48,"ert"),['tr',5,7.25])

In [63]:
print(t[3])
t[3][1]

['tr', 5, 7.25]

5

In [64]:
t[3][0:2]

['tr', 5]

In [65]:
for i in t:
    print(i)

(9, 1, 2, 3, 5, 4, 8)
('tr', 'tr', 'ut')
(48, 'ert')
['tr', 5, 7.25]

In [8]:
for i in t:
    if type(i)==tuple:
        print(i[0])

9
tr
48

In [69]:
T1=(21,"sasd",12.56)
T2=("rer",12.55)
if len(T1)==len(T2):
    print("same len")
else:
    print("not same")

not same

In [3]:
t=(45,125,12.554,"ter",True)
i=input("enter data: ")
if i in t:
    print("yes this element is available")
else:
    print("not available")

enter data: ter
yes this element is available

In [9]:
t=(45,125,12.554,"ter",True)

In [10]:
t

(45, 125, 12.554, 'ter', True)

In [11]:
del(t)

In [12]:
t

NameError: name 't' is not defined

In [9]:
lst=[124,45,78]

### Set:

In [1]:
x=set()

In [2]:
type(x)

set

In [6]:
l=[35,45,45,89,65,"krish","krish","Krish"] #case sensitive

In [7]:
set(l) #removes all the duplicates
#Set is a colllection which always hold unique elements

{35, 45, 65, 89, 'Krish', 'krish'}

In [9]:
s=set(l)
s

{35, 45, 65, 89, 'Krish', 'krish'}

In [10]:
for i in s:
    print(i)

65
Krish
35
krish
45
89

In [11]:
35 in s

True

In [13]:
s[0]

TypeError: 'set' object is not subscriptable

In [21]:
l1=[35,45,45,89,65,"krish","krish","Krish",[1,2,5]]
s1=set(l1)

TypeError: unhashable type: 'list'

In [15]:
s=set()
s

set()

In [17]:
s.add(45)
s

{45}

In [19]:
s.add("krish")
s

{45, 'krish'}

In [22]:
s.add("krish","A")

TypeError: add() takes exactly one argument (2 given)

In [23]:
s

{45, 'krish'}

In [11]:
l1=[35,45,45,89,65,"krish","krish","Krish",1,2,5]
s1=set(l1)
s1

{1, 2, 35, 45, 5, 65, 89, 'Krish', 'krish'}

In [12]:
l1=[35,45,45,89,65,"krish","krish","Krish",[1,2,5]
s1=set(l1)
s1

SyntaxError: invalid syntax (<ipython-input-12-701d16d15ae8>, line 2)

###### In the above scenario, set doesn't accept nested list 
because if nested list is given the  set cannot compare the elements (35,45,45,89,65,"krish","krish","Krish") with the list elements[1,2,5].
The comparison is necessary because set only return the unique elements

In [14]:
s = {"krish","A"}

In [15]:
s

{'A', 'krish'}

In [20]:
s.add(45)
s

{45, 'A', 'krish'}

In [19]:
s.remove(45)
s

{'A', 'krish'}

In [22]:
s.remove(45)
s

KeyError: 45

In [23]:
s.clear()
s

set()

In [24]:
s = {"krish","A",1,5,4}

In [ ]:
s1 = {"A",10,50,40}

In [26]:
s+s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [27]:
s*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [29]:
lst=list(s)
lst.append(23)
lst

[1, 4, 5, 'A', 'krish', 23]

In [31]:
tup=tuple(lst)
tup

(1, 4, 5, 'A', 'krish', 23)

In [32]:
set(tup)

{1, 23, 4, 5, 'A', 'krish'}

### Dictionary:

In [33]:
x={}
type(x)

dict

In [34]:
x={12,45}
type(x)

set

In [37]:
x={'name':"krish", 'age':20}
x

{'name': 'krish', 'age': 20}

In [38]:
type(x)

dict

###### same key should not be given, if given then the value of the latest will be updated against the key

In [41]:
x1={'name':"krish", 'age':20,'name':"chandu",True:45,456:"jhg"}

In [42]:
x1

{'name': 'chandu', 'age': 20, True: 45, 456: 'jhg'}

###### same value

In [47]:
x1={'name':"krish", 'age':20,'name':"chandu",True:45,456:"jhg", 'name2':"krish"}
x1

{'name': 'chandu', 'age': 20, True: 45, 456: 'jhg', 'name2': 'krish'}

###### cannot give list as key

In [44]:
x1={'name':"krish", 'age':20,'name':"chandu",True:45,456:"jhg",[12,45]:12}

TypeError: unhashable type: 'list'

In [49]:
x1={'name':"krish", 'age':20,'name':"chandu",True:45,456:"jhg",12:[12,45]}
x1

{'name': 'chandu', 'age': 20, True: 45, 456: 'jhg', 12: [12, 45]}

###### tuple can be used as key in dictionary

In [52]:
x1={'name':"krish", 'age':20,'name':"chandu",True:45,456:"jhg",(12,45):12}
x1

{'name': 'chandu', 'age': 20, True: 45, 456: 'jhg', (12, 45): 12}

In [50]:
x2={'name':"krish", 'age':20,'name':"chandu",True:45,456:"jhg",12:[12,45], 15:{'k1':'v2'}}
x2

{'name': 'chandu',
 'age': 20,
 True: 45,
 456: 'jhg',
 12: [12, 45],
 15: {'k1': 'v2'}}

In [53]:
x2['age']

20

In [55]:
x2[12][1]

45

In [56]:
x3={'name':"krish", 'age':20,'name':"chandu",True:45,456:"jhg",12:[12,45], 15:{'k1':'v2','k2':[1,5,5,8]}}
x3

{'name': 'chandu',
 'age': 20,
 True: 45,
 456: 'jhg',
 12: [12, 45],
 15: {'k1': 'v2', 'k2': [1, 5, 5, 8]}}

In [58]:
x3[15]['k2']

[1, 5, 5, 8]

In [59]:
x3[15]['k2'][3]

8

In [61]:
x4= {15:{'k1':'v2','k2':[1,5,5,8]}}

In [62]:
x5={'name':"krish"}

In [63]:
x4+x5

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [64]:
x3*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [65]:
x5={'name':"krish"}
x5['name']

'krish'

In [66]:
x5['name'] = 'chandu'
x5

{'name': 'chandu'}

In [68]:
x5['name'] = 123
x5

{'name': 123}

In [69]:
x5['name']-=10
x5

{'name': 113}

In [70]:
x5.keys()

dict_keys(['name'])

In [71]:
'name' in x5.keys()

True

In [2]:
x3={'name':"krish", 'age':20,'name':"chandu",True:45,456:"jhg",12:[12,45], 15:{'k1':'v2','k2':[1,5,5,8]}}
x3

{'name': 'chandu',
 'age': 20,
 True: 45,
 456: 'jhg',
 12: [12, 45],
 15: {'k1': 'v2', 'k2': [1, 5, 5, 8]}}

In [3]:
for i in x3:
    print(i)

name
age
True
456
12
15

In [4]:
for i in x3:
    print(x3[i])

chandu
20
45
jhg
[12, 45]
{'k1': 'v2', 'k2': [1, 5, 5, 8]}

In [5]:
x3.keys()

dict_keys(['name', 'age', True, 456, 12, 15])

In [6]:
for i in x3.keys():
    print(x3[i])

chandu
20
45
jhg
[12, 45]
{'k1': 'v2', 'k2': [1, 5, 5, 8]}

In [9]:
for i in x3.keys():
    print(type(x3[i]))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [10]:
x3.items()

dict_items([('name', 'chandu'), ('age', 20), (True, 45), (456, 'jhg'), (12, [12, 45]), (15, {'k1': 'v2', 'k2': [1, 5, 5, 8]})])

In [11]:
len(x3) #give the number of key-value pairs

6

In [12]:
e={56:{1,5,6}}
e[56]

{1, 5, 6}

In [16]:
list(e[56])[2]

6

### Task:

1. Take input as a paragraph using the input function
2. Convert all of this input into the list of words
3. Remove all the duplicates from the list
4. Use above distinct elements as a key for dictionary and assign your names as a value of all the keys for the dictionary
5. Try to print the tuples of all the values
6. Try to print the list of all keys

In [43]:
#1. Take input as a paragraph using the input function
data=input("Enter the paragraph: ")
# 2. Convert all of this input into the list of words
words=data.split(" ")
print(f'words: {words}')
# 3. Remove all the duplicates from the list
unq=set(words)
print(f'unq: {unq}')
# 4. Use above distinct elements as a key for dictionary, assign your names as a value of all the keys for the dictionary
my_dict={}
for i in unq:
    my_dict[i] = 'krish'
print(f'my_dict: {my_dict}')
# 5. Try to print the tuples of all the values
print(tuple(my_dict.values()))
# 6. Try to print the list of all keys
print(list(my_dict.keys()))

Enter the paragraph: Python is an interpreted high-level general-purpose programming language.  logical code for small and large-scale projects.
words: ['Python', 'is', 'an', 'interpreted', 'high-level', 'general-purpose', 'programming', 'language.', '', 'logical', 'code', 'for', 'small', 'and', 'large-scale', 'projects.']
unq: {'', 'logical', 'programming', 'is', 'high-level', 'language.', 'for', 'general-purpose', 'Python', 'code', 'and', 'large-scale', 'interpreted', 'small', 'projects.', 'an'}
my_dict: {'': 'krish', 'logical': 'krish', 'programming': 'krish', 'is': 'krish', 'high-level': 'krish', 'language.': 'krish', 'for': 'krish', 'general-purpose': 'krish', 'Python': 'krish', 'code': 'krish', 'and': 'krish', 'large-scale': 'krish', 'interpreted': 'krish', 'small': 'krish', 'projects.': 'krish', 'an': 'krish'}
('krish', 'krish', 'krish', 'krish', 'krish', 'krish', 'krish', 'krish', 'krish', 'krish', 'krish', 'krish', 'krish', 'krish', 'krish', 'krish')
['', 'logical', 'programming', 'is', 'high-level', 'language.', 'for', 'general-purpose', 'Python', 'code', 'and', 'large-scale', 'interpreted', 'small', 'projects.', 'an']

In [46]:
data=input("Enter the paragraph: ")
words=data.split(" ")
unq=set(words)
my_dict2=dict.fromkeys(unq,'mouli')
my_dict2

Enter the paragraph: Python is an interpreted high-level general-purpose programming language.  logical code for small and large-scale projects.

{'': 'mouli',
 'logical': 'mouli',
 'programming': 'mouli',
 'is': 'mouli',
 'high-level': 'mouli',
 'language.': 'mouli',
 'for': 'mouli',
 'general-purpose': 'mouli',
 'Python': 'mouli',
 'code': 'mouli',
 'and': 'mouli',
 'large-scale': 'mouli',
 'interpreted': 'mouli',
 'small': 'mouli',
 'projects.': 'mouli',
 'an': 'mouli'}

In [5]:
d={'company':'ineuron', 'course':'FSDS', 'year':2021}  
d

{'company': 'ineuron', 'course': 'FSDS', 'year': 2021}

In [4]:
for i in d:
    print(f' key: {i}, value: {d[i]}')

 key: company, value: ineuron
 key: course, value: FSDS
 key: year, value: 2021

In [6]:
for i in d:
    if i == 'year':
        if d[i]>2021:
            print('year is fine')
        else:
            d[i]=2022

In [7]:
d

{'company': 'ineuron', 'course': 'FSDS', 'year': 2022}

In [8]:
for i in d:
    if i == 'course':
        if len(d[i])>2:
            print('its fine')

its fine

In [13]:
my_dict= {k:k**2 for k in range(10)}
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [15]:
my_dict= {}
for i in range(10):
    my_dict[i]=i*i
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}